<!DOCTYPE html>
<html>
<head>
	
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" 
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" 
	crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" 
	crossorigin=""></script>
	<link rel="stylesheet" href="style.css"

	<script src="https://unpkg.com/vue@3.0.3/dist/vue.global.prod.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	
	<title>Granjas urbanas</title>

</head>
<body>
	<h1>Granjas urbanas Universidad Distrital</h1>
	<table>
		
			<thead>
				<th>5 Semanas</th>
				<th>7 Semanas</th>
			</thead>
			<tbody>
			<td><img src="5_semanas.jpg" alt="5_semanas" width ="250"></td>
			<td><img src="7_semanas.jpg" alt="7_semanas" width ="250"></td>
		</tbody>
		
	</table>
	<h3>Ubicación</h3>
		

<!-- Barra lateral -->
<div class="sidenav">
	<br/>
	<a href="#">Granjas</a>
	<a href="#">Productos</a>
	<a href="#">Servicios</a>
	<a href="#">Clientes</a>
	<a href="#">Contacto</a>
  </div>
  
 
<div id='map'>
				 </div>

<script src="app.js" type="text/javascript"></script>

<script>
	var map = L.map('map').setView([4.579, -74.133], 17);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/light-v9',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

	function onEachFeature(feature, layer) {
		var popupContent = "<p>" +
				feature.geometry.type + ", ";

		if (feature.properties && feature.properties.popupContent) {
			popupContent += feature.properties.popupContent;
		}

		layer.bindPopup(popupContent);
	}

	L.geoJSON([granja, comercial], {

		style: function (feature) {
			return feature.properties && feature.properties.style;
		},

		onEachFeature: onEachFeature,

		pointToLayer: function (feature, latlng) {
			return L.circleMarker(latlng, {
				radius: 5,
				fillColor: "#00FF00",
				color: "#000",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}
	}).addTo(map);

	

</script>
	
<!-- sección con Vue -->

	<div  id = "app1">

        <h2>{{titulo}}</h2>

		<form>
			<input type="text" name="nombre" placeholder="Escribe tu nombre">
			<input type="text" name="apellido" placeholder="Escribe tu apellido">
			<input type="email" name="email" placeholder="Escribe tu email">
			<input type="button" value="Enviar">
			</form>

			
		
	
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router"></script>
    	<script src="vue.js"></script>
		

    </div>

	<!-- sección con D3 -->
	<div>
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<script src="D3.js"></script>
		
	</div>

	<!--Sección de D3--->

	<div>
		<h1>Humedad del suelo</h1>

<svg class = "bar-chart"></svg>
<script src="https://d3js.org/d3.v6.min.js"></script>
<!--<script type="module" src="D3.js"></script>-->
<script src="D3.js"></script>
	</div>


</body>
</html>