#map { 
    height: 500px;
    width: 48%;
    border: 5px solid black;
    float: right;
        
}
h1 {
    text-align: center;
    color: black;
    background-color: rgb(189, 231, 133);
    padding: 5px;
}

h2 {
  text-align: center;
  color: #818181;
  background-color: #111;
  padding: 5px;
}

h3 {
  margin: 1350px;
  color: #111;
  }


form{
  text-align: center;
}
table{
  margin: right;
  border: 1px solid black;
}

td{
    border: 1px solid black;
}

th{
  text-align: center;
  border: 1px solid black;
  }


/* Barra lateral */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }